@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: var(--color-8); */
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
header{
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
}
.header_logo{
    /*background: blue;*/
}
.header_logo img{
}
.header_nav{
    /*background: green;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.header_nav li{
    /*background: yellow;*/
    list-style: none;
}
.header_nav li a{
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px;
    display: flex;
}
.header_nav li a img{
}

.header_menu{
    /*background: violet;*/
}
.header_menu img{
}

main{
    /* background: green; */
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section_container{
    display: flex;
    justify-content: space-between;
}
.article_jumping{
    width: 679px;
    /* background: violet; */
    display: flex;
    flex-direction: column;
}
.article_jumping h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 91.4%;
}
.article_jumping p{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    font-size: 24px;
    color: var(--color-6);
    line-height: 123%;
}
.div_buttons{
    margin-top: 26px;
    gap: 38px;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: center;
}
.div_buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_buttons:hover a:hover{
    outline: none;
    backdrop-filter: blur(24px);
}




.article_reviews {
    /* background: red; */
    padding: 20px;
}
.div_reviews-container {
    width: 345px;
    height: 202px;
    background: var(--color-1);
    padding: 20px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_reviesw-cards {
    /* background: green; */
    /* padding: 20px; */
}
.div_reviesw-profile {
    /* background: violet; */
    /* padding: 20px; */
    gap: 16px;
    display: flex;
}
.div_reviesw-profile img {
    /* background: orange; */
    object-fit: contain;
    /* padding: 20px; */
}
.div_reviesw-cards p {
    font-family: "Poppons_Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    color: var(--color-7);
    width: 277px;
}
.div_reviesw-rating {
    /* background: yellow; */
    /* padding: 20px; */
}
.div_reviesw-rating h3 {
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div_reviews-stars {
    /* background: olive; */
    /* padding: 20px; */
}
.div_reviews-stars img {
    /* background: turquoise; */
    padding: 0;
}
